extends layout

block nav
  nav(class='navigation')
    ul(class='menu')
      li(class='menu-item') Menu
      li(class='menu-item')
        h1(class="main-header") Home

block content
  div(class="main-container")

    //- h1(class='main-header')= title
    //- p Welcome to #{title}

    include login.jade
