extends layout

block nav
  nav(class='navigation')
    ul(class='menu')
      li(class='menu-item') Menu
      li(class='menu-item')
        h1(class="main-header") Search

block content
  div(class="main-container")

    div(class="search-bar")
      input(class='search-field' type='text' placeholder='Search for items')
      button(class='search-button' type='submit') Go

    label(for='search-cost') Search By Cost
    input(id='search-cost' class='search-cost' type='range')

    label(for='search-dist') Search By Distance
    input(id='search-dist' class='search-dist' type='range')

    label(for='select-category') Select Category
    select(id='select-category' class='select-category')
      option(class='category-item') Category 1
      option(class='category-item') Category 2
      option(class='category-item') Category 3

    h1(class='main-header')= title
    p Welcome to #{title}

    include login.jade

