doctype html
html
  head
    script(type='text/javascript', src="https://cdn.firebase.com/js/client/2.2.7/firebase.js")
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(type='text/javascript', src='/javascripts/auth.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/brian.css')
  body
    block nav
    block content
