block content
	h1=Login

	div(id="form-container")
		form(id="login", onsubmit='return false;')
			h2(type='login', name='login') Login
			input(type='email', name='email', placeholder='email')
			input(type='password', name='password', placeholder='password')
			button(onclick='login(this.form.email.value, this.form.password.value)') SUBMIT
		form(id="signup", onsubmit='return false;')
			h2(type='signup', name='signup') Signup
			input(type='email', name='email', placeholder='email')
			input(type='password', name='password', placeholder='password')
			button(onclick='createAccount(this.form.email.value, this.form.password.value)') SUBMIT

	span(id='error')


	h2 Login With Facebook
	button(type='submit', onclick="loginFacebookPopup()") Login