block content
	h1=Login

	div(id="form-container")
		span(id='error')
		form(id="login", onsubmit='return false;')
			h1 Venda
			h6 buy and sell stuff
			input(type='email', name='email', placeholder='email')
			input(type='password', name='password', placeholder='password')
			button(onclick='login(this.form.email.value, this.form.password.value)') login
		form(id="signup", onsubmit='return false;')
			input(type='email', name='email', placeholder='email')
			input(type='password', name='password', placeholder='password')
			button(onclick='createAccount(this.form.email.value, this.form.password.value)') sign up

		i(id="facebook", class="fa fa-facebook-official", onclick="loginFacebookPopup()")