extends layout

block content
	div(class="main-container bgbgspace")
		div(class="form-container large-container")
			h1 Meetup Details
			div(id="map-canvas")
			br
			label(class="left-label") 
				h6 disclaimer and stuff
			label(class="right-label") 
				i(class="fa fa-building-o") 
					span(id="meetup-location")  Market Street, San Francisco, CA
				i(class="fa fa-clock-o") 
					span(id="meetup-time")  July 21, 1700 PST