extends layout

block content
	h1 #{title}
	div(class="form-container large-container")
		div(id="map-canvas")
		br
		label(class="left-label") 
			h6 disclaimer and stuff
		label(class="right-label") 
			i(class="fa fa-building-o")  Market Street, San Francisco, CA |
			i(class="fa fa-clock-o")  July 21, 1700 PST