extends layout

block content
  h1 #{title}
  script(type='text/javascript', src='javascripts/items.js')
  form(id="addItem", onsubmit='return false')
    h2(type='addItem', name='addItem') Add item
    h3 What item are you selling?
    input(name='name', placeholder='Item Name')
    h3 How long do you want this item available?
    input(name='time', placeholder='Ex: 24 hours')
    h3 Type of item
    input(name='type', placeholder='Ex: Electronics')
    h3 What initial price do you want to set your product to?
    input(name='initPrice', placeholder='24.00')
    h3 What is the lowest suggested price you will consider?
    input(name='minSugPrice', placeholder='12.00')
    h3 Item Description
    input(name='descript', placeholder="An awesome thing that is in sort of awesome condition.")
    button(onclick='addItem(this.form.time.value, this.form.name.value, this.form.type.value, this.form.minSugPrice.value, this.form.descript.value, this.form.initPrice.value)') SUBMIT


