extends layout

block nav
  include nav.jade


block content
  div(class="main-container")
  h2(class='sub-header') Search Results

  ul(class='search-results')

    li(class='search-results-item')
      img(class='item-picture' src='thing.jpg' alt='')
      div(class='description') This is an amazing object that plays music and can double as a basketball.
      div(class='categories') Categories: Sports, Music
      div(class='price')
        i(class='fa fa-usd')
          span(class='stats') 2
      div(class='distance')
        i(class='fa fa-car')
          span(class='stats') 0.2 mi

    li(class='search-results-item')
      img(class='item-picture' src='thing.jpg' alt='')
      div(class='description') This is an amazing object that plays music and can double as a basketball.
      div(class='categories') Categories: Sports, Music
      div(class='price')
        i(class='fa fa-usd')
          span(class='stats') 2
      div(class='distance')
        i(class='fa fa-car')
          span(class='stats') 0.2 mi

    li(class='search-results-item')
      img(class='item-picture' src='thing.jpg' alt='')
      div(class='description') This is an amazing object that plays music and can double as a basketball.
      div(class='categories') Categories: Sports, Music
      div(class='price')
        i(class='fa fa-usd')
          span(class='stats') 2
      div(class='distance')
        i(class='fa fa-car')
          span(class='stats') 0.2 mi

