extends layout

block content
  script(type='text/javascript', src='javascripts/items.js')
  div(class="form-container large-container")
    form(id="addItem", onsubmit='return false')
        h1 Venda
        h6 sell your stuff
        label(class="right-label") What item are you selling?
        input(name='name', placeholder='macbook pro')
        label(class="right-label") How long do you want this item available?
        input(name='time', placeholder='two days')
        label(class="right-label") What category does your item fall under?
        input(name='type', placeholder='electronics')
        label(class="right-label") What is the starting price of your item?
        input(name='initPrice', placeholder='897.17')
        label(class="right-label") What is the lowest price you would consider?
        input(name='minSugPrice', placeholder='756.27')
        label(class="right-label") Describe your item!
        input(name='descript', placeholder="an awesome thing that is in sort of awesome condition")
        br
        br
        button(onclick='addItem(this.form.time.value, this.form.name.value, this.form.type.value, this.form.minSugPrice.value, this.form.descript.value, this.form.initPrice.value)') SELL ITEM
    h6 disclaimer and stuff goes here