body {
    background-color: $cream-white;
    font-family: $serif;
    font-family: $serif2;
    font-size: 1.3em;
}

.main-container {
  padding-top: 50px;
  text-align: center;
}

input {
  // text-align: center;
}

.sub-header {
  color: $header-black;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
}