// COLORS

// non-grayscale
// $cream-white : #FFFDE9;
$cream-white : #f6f6f6;
$dark-blue   : #315799;
$warm-red    : #ED5A52;
$turquoise   : #68BCD5;
$warm-blue   : #2564CC;


// grayscale
$black        : black;
$header-black : rgba($black, 0.85);
$text-heavy   : rgba($black, 0.70);
$text-light   : rgba($black, 0.55);


// FONTS

$serif : Helvetica;