.navigation {
  width: 100%;
  background-color: $warm-blue;
  z-index: 1;
  position: fixed;

  .menu {
    margin: 0;
    padding: 0;
    // height: 56px;

    .menu-item {
      display: inline-block;
      width: 100%;
      font-size: 20px;
      font-size: 2.0rem;

      .main-header {
        color: $header-black;
        font-size: 20px;
        font-size: 2.0rem;
        color: $cream-white;
        text-align: center;
        margin: 0;
        padding: 10px;


      }

      &:first-child {
        color: $cream-white;
        position: fixed;
        top: 0;
        left: 0;
        padding: 7px 15px;
      }


    }
  }
}
