.navigation {
  width: 100%;
  background-color: rgba($warm-blue, 0.85);;
  position: fixed;

  .menu {
    margin: 0;
    padding: 0;
    // height: 56px;

    .menu-item {
      display: inline-block;
      width: 100%;

      .main-header {
        color: $header-black;
        font-size: 14px;
        font-size: 1.4rem;
        text-align: center;

      }

      &:first-child {
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
      }


    }
  }
}

.search-bar {
  text-align: center;
  padding: 40px 0;

  .search-field {
    height: 40px;
    width: 50%;
  }

  .search-button {
    height: 47px;
    width: 47px;
    border: 1px solid rgba($black, 0.20);
  }
}

.label-cost,
.label-dist,
.label-category {
  width: 15%;
  display: inline-block;
  text-align: left;

}

.search-cost,
.search-dist,
.select-category {
  width: 35%;
  display: inline-block;
}

.category-bar,
.cost-bar,
.dist-bar {
  display: block;
  padding: 15px 0;
}