
#form-container {
	width: 20%;
	min-width: 300px;
	margin: 0 auto;

	text-align: center;

	border: 1px solid;
	padding: 40px;
	box-shadow: 1px 1px 5px #555;
}

#form-container form {
	border-bottom: 1px #aaa solid;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

#form-container input {
	border: none;
	border-bottom: 1px #777 inset;
	padding: 8px;
	margin: 1px;
	width: 95%;

	border-radius: 2px;
}

#form-container button {
	width: 100%;
	margin-top: 10px;
	background-color: #529ecc;
	border: none;
	border-radius: 6px;
	padding: 10px;
	font-size: 20px;
	color: #fff;

	transition: 0.2s all;
}

#form-container button:hover {
	background-color: #74bfdd;
}

#form-container #facebook {
	font-size: 36px;
	transition: 0.2s all;

	padding-bottom: 30px;
}

#form-container #facebook:hover {
	cursor: pointer;
	color: #529ecc;
	font-size: 66px;
	padding-bottom: 0px;
}