
#form-container {
	width: 20%;
	min-width: 300px;
	margin: 0 auto;

	text-align: center;
}

#form-container #login {
	border-bottom: 1px #aaa solid;
	padding-bottom: 20px;
}

#form-container input {
	border: none;
	border-bottom: 1px #777 inset;
	padding: 8px;
	margin: 1px;
	width: 100%;

	border-radius: 2px;
}

#form-container button {
	width: 100%;
	margin-top: 10px;
	background-color: #529ecc;
	border: none;
	border-radius: 6px;
	padding: 10px;
	font-size: 20px;
	color: #fff;
}