#map-canvas {
	width: 100%;
	height: 600px;

	box-shadow: 1px 1px 5px #555;
}

.form-container{
	margin: 0 auto;

	text-align: center;

	border: 1px solid;
	border-radius: 5px;
	padding: 40px;
	box-shadow: 1px 1px 5px #555;
}

.large-container{
	width: 80%;
	min-width: 1000px;
	margin: 0 auto;
}

.small-container {
	width: 20%;
	min-width: 300px;
	margin: 0 auto;

	background-color: rgba(246, 246, 246, 0.7);
}

.form-container #error {
	color: #ff0000;
}

.form-container h1 {
	border-bottom: 1px solid #aaa;
	padding-bottom: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.form-container h6 {
	margin-top: 10px;
	font-weight: normal;
	color: #777;	
}

.form-container form {
	border-bottom: 1px #aaa solid;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.form-container input {
	border: none;
	border-bottom: 1px #777 inset;
	padding: 8px;
	margin: 1px;

	border-radius: 4px;
}

.large-container input {
	width: 48%;
	display: inline-block;
}

.small-container input {
	width: 95%;
}

.right-label {
	width: 48%;
	display: inline-block;
	text-align: right;
	padding-right: 20px;
}

.left-label {
	width: 48%;
	display: inline-block;
	text-align: left;
	padding-left: 20px;
}

.form-container button {
	margin-top: 10px;
	background-color: #68BCD5;
	border: none;
	border-radius: 6px;
	padding: 10px;
	font-size: 20px;
	color: #fff;

	transition: 0.2s all;
}

.small-container button {
	width: 100%;
}

.large-container button {
	width: 60%;
}

.form-container button:hover {
	background-color: #8acde6;
}

.form-container #facebook {
	font-size: 36px;
	transition: 0.2s all;

	padding-bottom: 30px;
}

.form-container #facebook:hover {
	cursor: pointer;
	color: #3b5998;
	font-size: 66px;
	padding-bottom: 0px;
}

.bgbgbg {
	background: url('http://www.sanfrancisco.travel/sites/sftraveldev.prod.acquia-sites.com/files/SanFrancisco_0.jpg');
	background-size: cover;
	padding-bottom: 50px;
}

